doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title #{pageTitle}
        link(rel='icon' href=`${prefixAdmin}/assets/img/kaiadmin/favicon.ico` type='image/x-icon')

        script(src=`${prefixAdmin}/assets/js/plugin/webfont/webfont.min.js`)
        script.
            const prefixAdmin = "#{prefixAdmin}";
            WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: [`${prefixAdmin}/assets/css/fonts.min.css`],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
            });
        // CSS Files
        link(rel='stylesheet' href=`${prefixAdmin}/assets/css/bootstrap.min.css`)
        link(rel='stylesheet' href=`${prefixAdmin}/assets/css/plugins.min.css`)
        link(rel='stylesheet' href=`${prefixAdmin}/assets/css/kaiadmin.min.css`)
        link(rel='stylesheet' href=`${prefixAdmin}/assets/css/style.css`)

    body
        if (role.permissions.length > 0)
            .wrapper.sidebar_minimize
                include ../partials/sidebar.pug

                .main-panel
                    include ../partials/header.pug

                    .container
                        block main

                    include ../partials/footer.pug


                script(src=`${prefixAdmin}/assets/js/script.js`)
                script(src=`${prefixAdmin}/assets/js/core/jquery-3.7.1.min.js`)
                script(src=`${prefixAdmin}/assets/js/core/popper.min.js`)
                script(src=`${prefixAdmin}/assets/js/core/bootstrap.min.js`)

                //TinyMCE
                script(src="/tinymce/tinymce.min.js")
                script(src="/admin/assets/js/tinymce-config.js")
                //End TinyMCE

                // jQuery Scrollbar
                script(src=`${prefixAdmin}/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js`)
                // Chart JS
                script(src=`${prefixAdmin}/assets/js/plugin/chart.js/chart.min.js`)
                // jQuery Sparkline
                script(src=`${prefixAdmin}/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js`)
                // Chart Circle
                script(src=`${prefixAdmin}/assets/js/plugin/chart-circle/circles.min.js`)
                // Datatables
                script(src=`${prefixAdmin}/assets/js/plugin/datatables/datatables.min.js`)
                // Bootstrap Notify
                script(src=`${prefixAdmin}/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js`)
                // jQuery Vector Maps
                script(src=`${prefixAdmin}/assets/js/plugin/jsvectormap/jsvectormap.min.js`)
                script(src=`${prefixAdmin}/assets/js/plugin/jsvectormap/world.js`)
                // Sweet Alert
                script(src=`${prefixAdmin}/assets/js/plugin/sweetalert/sweetalert.min.js`)
                // Kaiadmin JS
                script(src=`${prefixAdmin}/assets/js/kaiadmin.min.js`)
                script.
                    $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
                    type: "line",
                    height: "70",
                    width: "100%",
                    lineWidth: "2",
                    lineColor: "#177dff",
                    fillColor: "rgba(23, 125, 255, 0.14)",
                    });
                    $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
                    type: "line",
                    height: "70",
                    width: "100%",
                    lineWidth: "2",
                    lineColor: "#f3545d",
                    fillColor: "rgba(243, 84, 93, .14)",
                    });
                    $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
                    type: "line",
                    height: "70",
                    width: "100%",
                    lineWidth: "2",
                    lineColor: "#ffa534",
                    fillColor: "rgba(255, 165, 52, .14)",
                    });
        else
            h1 Bạn không có quyền truy cập
