extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main
    +alert-success("5000")
    .page-inner
        .page-header
            h3.fw-bold.mb-3 Danh sách bài viết
            ul.breadcrumbs.mb-3
                li.nav-home
                    a(href='#')
                        i.icon-home
                li.separator
                    i.icon-arrow-right
                li.nav-item
                    a(href='#') Tables
                li.separator
                    i.icon-arrow-right
                li.nav-item
                    a(href='#') Basic Tables
        .row
            .col-md-12
                .card
                    .card-header
                        .card-head-row.card-tools-still-right
                            nav.navbar.navbar-header-left.navbar-expand-lg.navbar-form.nav-search.p-0.d-none.d-lg-flex
                                //Mixin search
                                +search(keyword)
                            a(class="btn btn-outline-success d-flex" href=`${prefixAdmin}/posts/trash` style="margin-left: 20px")
                                i.fa.fa-trash  Thùng rác
                            .card-tools
                                .dropdown
                                    | Bộ lọc
                                    button#dropdownMenuButton.btn.btn-icon.btn-clean.me-0(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                        i.fas.fa-ellipsis-h
                                    .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                        // Mixins bộ lọc
                                        +filter-status(filterStatus)



                    .card-body
                        .row.align-items-center
                            .col-10
                                 +form-change-multi(`${prefixAdmin}/posts/change-multi?_method=PATCH`)
                            .col-2
                                a(
                                    href=`${prefixAdmin}/posts/create`
                                    class="btn btn-outline-success"
                                ) + Thêm mới
                        .d-flex.align-items-center
                            .col-2
                                +sort()

                        table(
                            class="table mt-3"
                            checkbox-multi
                            )
                            thead
                                tr
                                    th
                                        input(type="checkbox" name="checkall")
                                    th(scope='col') STT
                                    th(scope='col') Hình ảnh
                                    th(scope='col') Tiêu đề
                                    th(scope='col') T.Thái
                                    th(scope='col') Vị trí
                                    th(scope='col') Hành động
                            tbody
                                each item, index in movies
                                    tr
                                        td
                                            input(
                                                type="checkbox"
                                                name="id"
                                                value=item.id
                                            )
                                        td #{pagination.limitItems*(pagination.currentPage - 1 ) + index+1}
                                        td
                                            <img src= "#{item.thumbnail}" style="width: 100px">
                                        td #{item.title}


                                        td
                                            if(item.status == "active")
                                                button(
                                                    class="badge badge-success"
                                                    data-id =item.id
                                                    data-status = item.status
                                                    button-change-status) Hoạt động
                                            else
                                                button(
                                                    class="badge badge-danger"
                                                    data-id = item.id
                                                    data-status = item.status
                                                    button-change-status
                                                    ) Dừng hoạt động

                                        td
                                            input(
                                                type ="number"
                                                value = item.position
                                                style="width: 60px"
                                                min ="1"
                                                name = "position"
                                            )
                                        td
                                            .form-button-action
                                                a.btn.btn-link.btn-primary.btn-lg(
                                                    type='button'
                                                    href=`${prefixAdmin}/posts/edit/${item.id}`
                                                    data-bs-toggle='tooltip'
                                                    title=''
                                                    data-original-title='Edit Task')
                                                    i.fa.fa-edit
                                                a.btn.btn-link.btn-danger(

                                                    type='button'
                                                    data-bs-toggle='tooltip'
                                                    data-id = item.id
                                                    button-delete
                                                    )
                                                    i.fa.fa-times
                                                a.btn.btn-link.btn-primary.btn-lg(
                                                    type='button'
                                                    href=`${prefixAdmin}/posts/detail/${item.id}`
                                                    data-bs-toggle='tooltip'
                                                    )
                                                    i.fa.fa-info


                    //Pagination
                    +pagination(pagination)


                    form(
                        action=""
                        method="POST"
                        id="form-change-status"
                        data-path=`${prefixAdmin}/posts/change-status`
                    )

                    form(
                        action=""
                        method="POST"
                        id="form-delete-item"
                        data-path=`${prefixAdmin}/posts/delete`
                    )
                    script(src=`${prefixAdmin}/assets/js/movies.js`)





