extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-success("5000")
    +alert-error("5000")
    .page-inner
        .page-header
            h3.fw-bold.mb-3 Phân quyền
            ul.breadcrumbs.mb-3
                li.nav-home
                    a(href='#')
                        i.icon-home
                li.separator
                    i.icon-arrow-right
                li.nav-item
                    a(href='#') Tables
                li.separator
                    i.icon-arrow-right
                li.nav-item
                    a(href='#') Basic Tables
        .row
            .col-md-12
                .card
                    .card-body
                    if(records)
                        div(data-records=records)
                        .row.align-items-center
                            .col-2
                                button(
                                    type="submit"
                                    class="btn btn-primary"
                                    button-submit
                                ) Cập nhật

                        .d-flex.align-items-center
                            .col-2
                        table(
                            class="table mt-3"
                            table-permissions
                            )
                            thead
                                tr
                                    th(scope='col') Tính năng
                                    each item in records
                                        th(scope='col' class="text-center") #{item.title}

                            tbody
                                tr
                                tr(data-name="id" class="d-none")
                                    td
                                        each item in records
                                            td(class="text-center")
                                                input(type="text" value=item.id)

                                //Danh mục phim
                                tr
                                    td(colspan="4")
                                        h3 Danh mục bài viết
                                tr(data-name="movies-category_view")
                                    td Xem
                                    each item in records
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="movies-category_create")
                                    td Thêm mới
                                    each item in records
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="movies-category_edit")
                                    td Chỉnh sửa
                                    each item in records
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="movies-category_delete")
                                    td Xóa
                                    each item in records
                                        td(class="text-center")
                                            input(type="checkbox")


                                tr
                                    td(colspan="4")
                                        h3 Bài viết
                                tr(data-name="movies_view")
                                    td Xem
                                    each item in records
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="movies_create")
                                    td Thêm mới
                                    each item in records
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="movies_edit")
                                    td Chỉnh sửa
                                    each item in records
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="movies_delete")
                                    td Xóa
                                    each item in records
                                        td(class="text-center")
                                            input(type="checkbox")

                                //Nhóm quyền
                                tr
                                    td(colspan="4")
                                        h3 Nhóm quyền
                                tr(data-name="roles_view")
                                    td Xem
                                    each item in records
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="roles_create")
                                    td Thêm mới
                                    each item in records
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="roles_edit")
                                    td Chỉnh sửa
                                    each item in records
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="roles_delete")
                                    td Xóa
                                    each item in records
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="roles_permissions")
                                    td Phân quyền
                                    each item in records
                                        td(class="text-center")
                                            input(type="checkbox")
    form(
        id="form-change-permissions"
        method="POST"
        action=`${prefixAdmin}/roles/permissions?_method=PATCH`
        class="d-none"
    )
        div(class="form-group")
            input(
                type="text"
                class="form-control"
                name="permissions"
            )

    script(src="/admin/assets/js/roles.js")

